html, body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #B2FFDA;
  max-height: 400px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body{
  background: url("../src/images/login-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.login-card{
  background: rgba(0, 0, 0, 0.29);
  mix-blend-mode: multiply;
  box-shadow: -3px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin: 10rem; 
  padding: 20px;
}
.addpost-minipic{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rooms{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  padding-right: 10% ;
  border-right: 11px solid #B2FFDA;
}
.rooms h1{
  line-height: 113px;
  font-size: 60px;
  letter-spacing: -0.02em;
  color: #B2FFDA;
  text-shadow: -3px 6px 4px rgba(0, 0, 0, 0.25);
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0 20px;
}
.login-input{
  background: #FFFFFF;
  border: 3px solid #1D8654;
  box-sizing: border-box;
  border-radius: 21px;
  padding: 10px;
  margin: 10px 10%;
  text-indent: 10px;
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
}
.login-submit{
  background: #37FF9F;
  mix-blend-mode: multiply;
  border-radius: 17px;
  padding: 10px;
  width: 100%;
  max-width: 150px;
}
.login-suggest{
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.login-suggest span{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #B2FFDA;
}
.navbar{
  position: sticky;
  top:0;
  width: 100%;
  z-index: 1;
}
.navbar-logo{
  padding: 5px;
  width: 80px;
  height: 50px;
}
.navbar-list{
  display: flex;
  justify-content: space-evenly;
  grid-gap: 10px; /* size of the line between cells */
  flex-direction: row;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  align-items: center;
}
.navbar-li{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 120%;
}
.search-icon{
  padding: 10px;
}
.search-icon:hover{
  cursor: pointer;
}
.search-title{
  padding: 15px;
}
.search-div{
  border-top: 2px solid black;
  margin: 15px;
}
.searched-user{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}
.user-propreties{
  width: 125px;
}
.searched-username{
  padding: 0;
  font-weight: 700;
  font-size: 20px;
}
.searched-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}
.searched-flex:hover{
  cursor: pointer;
}
.navbar-search{
  padding: 10px;
  border-radius: 7px;
}
.navbar-user{
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 0.5fr;
  background: #B2FFDA;
  border-radius: 35px;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  max-width: 150px;
}
.navbar-notice{
  display: flex;
  justify-content: space-between;
  background: #B2FFDA;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  padding: 18.5px;
  margin-right: 20%;
  max-width: 150px;
}
.post-grid{
  margin-left: 15px;
  display: grid;
  grid-template-columns: 0.6fr 5fr 0.5fr;
  align-items: center;
}
.dropdown{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  background: #B2FFDA;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  margin-right: 5%;
}

.link-username{
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
}
.logout:hover {cursor: pointer;}
.logout{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid;
}
.dots-button{
  border: none;
  background:none;
  cursor: pointer;
}
.post{
  background: rgba(255, 255, 255, 0.37);
  box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 2.5% 25%;
}
.post-room-name p{
  margin-top: -25px;
}
.profileimage{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.navbar-profileimage{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post-like{
  padding: 5px;
  margin: 0 5px;
}
.comment-like:hover{
  cursor: pointer;
}
.post-like:hover{
  cursor: pointer;
}
.hover-cursor:hover{
  cursor:pointer;
}
.hover-background{
  padding: 10px;
}
.hover-background:hover{
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 29.5px;
  cursor:pointer;
}
.post-rating{
  display: grid;
  grid-template-columns: 0.5fr 6fr 1fr;
  align-items: center;
  padding: 10px 0 0 0;
}
.post-rate{
  display: flex;
  /* grid-template-columns: 1fr 1fr 0.4fr; */
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  padding: 15px 0 10px 0;
  border-top: 1px solid;

}
.post-rate div{
  display: flex;
  align-items: center;
}
.post-desc{
  margin-left: 15px;
}
.description-content{
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
}
.post-edit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post-edit-buttons{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  padding: 10px;
  background-color: #B2FFDA;
  margin-bottom: -72px;
  z-index: 1;
}
.edit-description{
  border-radius: 5px;
  word-wrap: break-word;
  border: none;
  width: 85%;
  height: 30px;
  margin: 10px 0;
  resize: none;
}
.edit-desc{
  display: flex;
  align-items: center;
  margin: 0 5px;
}
.comment-grid{
  display: grid;
  grid-template-columns: 1fr 7fr;
  padding: 10px 15px;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent 20%, #000 25% 75%, transparent 80%) 100% 1;
}
.comment-content{
  border: 1px solid;
  border-radius: 9px;
  padding: 0 20px;
}
.comment-content p{
  margin: 10px 10px 10px 30px;
}
.comment-header{
  display: grid;
  grid-template-columns: 6fr 1fr;
}
.comment-like{
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment{
  display: flex;
  flex-direction: column;
  padding: 0;
}
.comment-close{
  align-self: flex-end;
  padding: 0px 10px;
}
.comment-username{
  text-decoration: none;
  color: #000000;
  padding: 10px;
}
.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1% 0;
  max-width: 600px;
}
.profile-pic{
  max-width: 100px;
  max-height: 100px;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 100%;
  margin-top: -10%;
}
.profile-cover{
  width: 100%;
  height: 10%;
  max-height: 400px;
  border-radius: 10px;
}
.profile-desc{
  margin: 0 10%;
}
.profile-images{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-cover-edit{
  padding: 5px;
  border-radius: 10px;
  background-color: #FFFFFF;
  align-self: flex-end;
  margin-bottom: -4.5%;
  z-index: 0;
}
.profile-pic-edit{
  padding: 5px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #FFFFFF;
  align-self: center;
  margin-top: -5%;
  margin-right: -10%;
  z-index: 0;
}
.edit-desc{
  display: flex;
  flex-direction: row;
}
.profile-room-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
}
.profile-col{
  flex: 2;
}
.profile-add{
  /* background-color: #AAAAAA; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-add:hover{
  border-radius: 10px;
  background-color: #BBBBBB;
}
.profile-name{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: -20%;
}
.profile-rooms{
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.profile-modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 5%;
}
.modal-close{
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.modal-close-btn{
  background-color: #B2FFDA;
  border-radius: 50%;
  padding: 10px;
}
.modal-close-btn:hover{
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid;
}
.flex-row{
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.upload-image{
  padding: 10px;
  margin-left: 10px;
  border-radius: 9px;
  width: 70px;
}
.upload-image:hover{
  cursor: pointer;
  background-color: #B2FFDA;
}
.uploadimage{
  width: 100px;
  margin-left: 10px;
}
.modal-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rooms-title{
  border-bottom: 1px solid;
  padding: 5% 30%;
}
.room-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #B2FFDA;
}
.room-card-img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.room-cursor:hover{
  cursor: pointer;
}
.allrooms-button{
  padding: 10px 30px;
  background: rgba(196, 196, 196, 0.41);
  border-radius: 10px;
  margin: 10px;
}
.room-card-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how-empty{
  text-align: center;
} 
.post-add{
  background-color: #FFFFFF;
  margin: 10px;
  border-radius: 9px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.add-post-title{
  margin: 20px 0px 0px 20px;
}
.add-post{
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  width: 600px;
  min-height: 100px;
  padding: 10px;
}
.add-post-text{
  display: flex;
}
.add-post-textarea{
  border-radius: 9px;
  word-wrap: break-word;
  overflow: auto;
  padding-left: 5px;
  vertical-align: top;
  box-sizing: border-box;
  width: 500px;
  min-height: 100px;
  background-color: #B2FFDA;
  border: 1px solid;
  font-size: 20px;
  resize: none;
}
.login-textarea{
  word-wrap: break-word;
  overflow: auto;
  vertical-align: top;
  border: 1px solid;
  resize: none;
  background: #FFFFFF;
  border: 3px solid #1D8654;
  box-sizing: border-box;
  border-radius: 21px;
  padding: 10px;
  margin: 10px 10%;
  width: 100%;
  box-sizing: border-box;

}
.add-image{
  background: #B2FFDA;
  border: 1px;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.add-image:hover{
  cursor: pointer;
}
.feed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comment-add{
  background-color: #FFFFFF;
  margin: 10px 20%;
  border-radius: 9px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  max-width: 400px;
  max-height: 300px;
}
.add-comment-title{
  margin: 10px 0px 0px 20px;
}
.add-comment{
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  max-width: 300px;
  min-height: 100px;
  padding: 5px;
}
.add-comment-text{
  display: flex;
}
.add-submit{
  border-radius: 10px;
  background-color: #B2FFDA;
  padding: 1% 5%;
}
.div-submit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-comment-textarea{
  border-radius: 9px;
  word-wrap: break-word;
  overflow: auto;
  padding-left: 5px;
  vertical-align: top;
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  background-color: #B2FFDA;
  border: 1px solid;
  font-size: 20px;
  resize: none;
}
.flex-comment{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.searchimage{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.navbar-link{
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .rooms{
    display: none;
  }
}
@media only screen and (max-width: 630px) {
  .searchimage{
    display: none;
  }
  .navbar-search{
    display: none;
  }
  .add-post{
    width: 300px;
  }
  .add-post-textarea{
    width: 200px;
  }
  .profile-rooms{
    width: 300px;
  }
  .profile-card{
    width: 300px;
  }
}
@media only screen and (max-width: 430px) {
  
  .navbar-notice{
    display: none;
  }
  .navbar-logo{
    width: 45px;
    padding: 0;
  }
}
@media only screen and (max-width: 330px){
  .navbar-name{
    display: none;
  }
  .add-post{
    width: 200px;
  }
  .add-post-textarea{
    width: 100px;
  }
  .post{
    margin: 2.5% 0;
    width: 200px;
  }
  .navbar-profileimage{
    width: 20px;
    height: 20px;
  }
  .logout{
    width: 20px;
    height: 20px;
    font-size: 6px;
  }
  .hidable{
    display: none;
  }
  .comment-image{
    display: none;
  }
  .comment-content{
    padding: 0;
  }
  .add-comment img{
    display: none;
  }
}
.modal-enter .modalContent {
  opacity: 0;
  transform: scale(0.9);
}
.modal-enter-active .modalContent {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.2s;
}
.modal-exit .modalContent {
  opacity: 1;
}
.modal-exit-active .modalContent {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.2s;
}

.toast-body{
  margin-top: -15%;
}
.Toastify__toast-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Toastify__toast-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Toastify__toast-icon{
  width: 50px;
}
.Toastify__toast--error {
  display: flex;
  border: 1px solid #EB5757;
  border-radius: 50px !important;
  background: #FAE1E2 !important;
  width: 50%;
}
.Toastify__toast--error::after {
/* content : url('../assets/images/svg/closeToast.svg'); */
color: #333333;
font-size: 15px;
font-weight: 700;
left:265px;
padding-top: 14px !important;
}
.Toastify__toast--error::before {
/* content: url("../assets/images/svg/errorToast.svg"); */
position:relative; 
z-index:100000;
left:12px;
top:6px;
}
.Toastify__toast--success {
border: 1px solid #3A9EA5 !important;
border-radius: 50px !important;
background: #F0F9FA !important;
}
.Toastify__toast--success::before {
  /* content: url("../assets/images/svg/successToast.svg"); */
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
}
.Toastify__toast--success::after {
/* content : url('../assets/images/svg/closeToast.svg'); */
position: absolute;
color: #333333;
font-size: 15px;
font-weight: 700;
left:265px;
padding-top: 14px !important;
}
.Toastify__toast--warning {
border: 1px solid #E78326  !important;
border-radius: 50px !important;
background: #FADFC5 !important;
}
.Toastify__toast--warning::before {
/* content: url("../assets/images/svg/warnToast.svg"); */
position:relative; 
z-index:100000;
left:12px;
top:6px;
}  
.Toastify__toast--warning::after {
/* content : url('../assets/images/svg/closeToast.svg'); */
position: absolute;
color: #E78326;
font-size: 15px;
font-weight: 700;
left:265px;
padding-top: 14px !important;
}
.Toastify__toast-body {
color: #444C63    ;
font-size: 16px;
padding-left: 20px;
line-height: 20px;
padding: 10px;
gap: 20px;
width: 100%;
font-weight: 400;
margin-left: 25px !important;
} 
.Toastify__toast > button {
  display: none;
}